@import "tailwindcss";

@theme {
    --breakpoint-sm: 375px;
    --breakpoint-md: 470px;
    --breakpoint-lg: 768px;
    --breakpoint-xl: 1024px;
    --breakpoint-2xl: 1440px;

    --color-nav-bg: #003580;
}

/* resetting the headings which tailwind reset for me */
h1 {
    @apply text-4xl font-bold;
}

h2 {
    @apply text-3xl font-semibold;
}

h3 {
    @apply text-2xl font-semibold;
}

h4 {
    @apply text-xl font-medium;
}

h5 {
    @apply text-lg font-medium;
}

h6 {
    @apply text-base font-medium;
}


/* these ones are for the header component with the home page */
.header-list-item.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}

.option-counter-btn:disabled {
    cursor: not-allowed;
}