@import "tailwindcss";

@theme {
    --breakpoint-sm: 375px;
    --breakpoint-md: 470px;
    --breakpoint-lg: 768px;
    --breakpoint-xl: 1024px;
    --breakpoint-2xl: 1440px;

    --color-nav-bg: #003580;
}

/* these ones are for the header component with the home page */
.header-list-item.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}

.option-counter-btn:disabled {
    cursor: not-allowed;
}